.receiver-input{

}
mat-card{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.full-width{
  width: 100%
}
.btn-full-width{
  width: 100%;
}
.chat-container{
  min-width: 300px;
  min-height: 150px;
  background-color: red;
}
