<mat-card>
  <ng-container *ngIf="chat === undefined; else openedChat">
    <mat-card-title>
      Open a chat to start
    </mat-card-title>
  </ng-container>

  <ng-template #openedChat>
    <mat-card-title>
      <img class="chat-avatar"
           src="https://img.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg" alt=""/>
      <label class="chat-name">
        {{ getUserNamesFromChat() }}
      </label>
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <mat-form-field class="input-form input-full-width" appearance="fill">
        <mat-label>Nachricht</mat-label>
        <input matInput placeholder="Schreibe eine Nachricht" value="">
      </mat-form-field>
    </mat-card-actions>
  </ng-template>
</mat-card>
