<mat-card>
  <ng-container *ngIf="chat === undefined; else openedChat">
    <mat-card-title>
      Open a chat to start
    </mat-card-title>
  </ng-container>

  <ng-template #openedChat>
    <mat-card-title>
      <img class="chat-avatar"
           src="https://img.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg" alt=""/>
      <label class="chat-name">
        {{ getUserNamesFromChat() }}
      </label>
    </mat-card-title>
    <mat-card-content>
      <ng-container *ngFor="let message of chat?.messages?.reverse()">

        <ng-container
          *ngIf="message.senderId == getOwnUser().id; then sendText; else receivedText">
        </ng-container>
          <ng-template #sendText>
            <div class="text-container send-text-container">
              <p>{{ message.text}}</p>
            </div>
          </ng-template>

          <ng-template #receivedText>
            <div class="text-container received-text-container">
              <p class="text-send-from">Gesendet von {{getUserById(message.senderId).name}}</p>
              <p>{{ message.text}}</p>
            </div>
          </ng-template>



      </ng-container>
    </mat-card-content>
    <mat-card-actions class="message-grid">
      <mat-form-field class="input-form input-full-width input-message" appearance="fill">
        <mat-label>Nachricht</mat-label>
        <input matInput placeholder="Schreibe eine Nachricht" (keydown.enter)="onKeyDown()" [(ngModel)]="text">
      </mat-form-field>
      <button mat-button (click)="sendMessage(text)" class="send-message">Send</button>
    </mat-card-actions>
  </ng-template>
</mat-card>
