<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Anzeigename</mat-label>
        <input matInput placeholder="Max Mustermann" value="" #username>
      </mat-form-field>
    </form>
    <button mat-flat-button class="btn-half-width" color="primary" (click)="login(username.value)">Einloggen</button>
    <button mat-flat-button class="btn-half-width" color="basic">Abbrechen</button>
  </mat-card-content>
</mat-card>
